<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Chmouel's Strava route tools</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
  <link rel="manifest" href="static/site.webmanifest">
  <style type="text/css" media="screen">
    .jumbotron {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: #e9ecef;
      border-radius: .3rem;
    }

    #copyTextToClipboard {
      cursor: pointer;
    }

    #hidden .hiddendiv {
      display: none;
    }
  </style>
</head>

<body>
  <!-- show information popup hidden by default -->
  <div id="popup">
  </div>
  <div class="col-md-10 mx-auto col-lg-6">
    <div class="d-flex text-uppercase fw-bolder fs-4 justify-content-center jumbotron">Chmouel's Strava route tools</div>

    <form name="form" onsubmit="return false;" class="p-4 p-md-5 border rounded-3 bg-light">
      <div class="form-floating mb-3">
        <input type="url" class="form-control" id="url" placeholder="Strava Route URL">
        <label for="url">Strava Route URL</label>
      </div>
      {{ if .StravaUser }}
      <!-- grab the routes and insert it -->
      <div id="strava-waiting-routes" class="spinner-bord d-flex justify-content-center">
        <span class="visually-hidden">Please wait while loading Strava Routes ...</span>
      </div>
      <span id="strava-routes"></span>
      {{ end }}
      <div class="form-floating mb-3">
        <input type="text" id="basicDate" placeholder="Select a Date Time">
        <button class="btn btn-secondary btn-sm" id="tomorrowDate">Tomorrow at 08:00</button>
        <button class="btn btn-secondary btn-sm" id="oneHour">In 1h</button>
        <button class="btn btn-secondary btn-sm" id="rightNow">Right now</button>
      </div>
      <button id="submitBtn" class="w-100 btn btn-lg btn-primary" type="submit">Generate</button>

      {{ if not .StravaUser }}
      <a href="/strava/login" class="justify-content-center d-flex mt-3">
        <img src="static/strava.svg" alt="Strava logo" width="20" height="20" class="me-2">
        Login with Strava
      </a>
      {{ end }}
    </form>
  </div>

  <div id="hiddendiv" style="display: none;" class="col-md-10 mx-auto col-lg-5">
    <ul class="list-group" id="uls">
    </ul>
    <img style="display: none" id="copyTextToClipboard" height=24 width=24
      src="https://pkg.go.dev/static/shared/icon/content_copy_gm_grey_24dp.svg" alt="copy" width="24" height="24"
      title="Copy to clipboard" class="float-end" />
  </div>

  <!-- add copyright -->
  <div class="col-md-10 mx-auto col-lg-5">
    <p>This is a simple tool to generate a link to <a href="https://mywindsock.com/">mywindsock</a> and
      <a href="https://veloviewer.com/">veloviewer</a> from a Strava route.
      <br />
      It's open source and you can find the code on <a href="https://gitlab.com/chmouel/stravatools">Gitlab</a>
    </p>
  </div>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--  Flatpickr  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
  <script type="text/javascript">
    date = new Date();
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var min = date.getMinutes();
    if (min < 10) {
      min = "0" + min;
    }
    cdate = date.getDate() + " " + months[date.getMonth()] + " " + date.getFullYear() + " " + date.getHours() + ":" + min;
    $("#basicDate").flatpickr({
      defaultDate: date,
      enableTime: true,
      time_24hr: true,
      dateFormat: "d F Y H:i",
    });
  </script>
  <script type="text/javascript">
    function routeSelectChange() {
      var select = document.getElementById("routeSelect");
      var selectedRoute = select.options[select.selectedIndex].value;
      var url = "https://www.strava.com/routes/" + selectedRoute;
      $('#url').val(url);
    }
    function copyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      textArea.value = text;
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        $('#popup').empty();
        $('#popup').append("<div class=\"alert alert-success\" role=\"alert\">Copied links as markdown to clipboard</div>");
        $('#popup').show();
      } catch (err) {
        $('#popup').empty();
        $('#popup').append("<div class=\"alert alert-danger\" role=\"alert\">Oops, unable to copy</div>");
        $('#popup').show();
      }
      document.body.removeChild(textArea);
    }
    $(document).ready(function () {
      {{ if .StravaUser }} 
      $.ajax({
        url: "/strava/routes/{{ .StravaUser.ID }}",
        type: "GET",
        success: function (data) {
          console.log(data);
          $("#strava-waiting-routes").hide();
          $("#strava-routes").html(data);
        },
        error: function (data) {
          $('#popup').empty();
          $('#popup').append("<div class=\"alert alert-danger\" role=\"alert\">Oops, something went wrong loading strava routes</div>");
          $('#popup').show();
        }
      });
      {{ end }}

      $("button[id='rightNow']").click(function () {
        date = new Date();
        $("#basicDate").flatpickr({
          defaultDate: date,
          enableTime: true,
          time_24hr: true,
          dateFormat: "d F Y H:i",
        });
      });
      $("button[id='oneHour']").click(function () {
        date = new Date();
        date.setHours(date.getHours() + 1);
        $("#basicDate").flatpickr({
          defaultDate: date,
          enableTime: true,
          time_24hr: true,
          dateFormat: "d F Y H:i",
        });
      });
      $("button[id='tomorrowDate']").click(function () {
        date = new Date();
        date.setDate(date.getDate() + 1);
        date.setHours(8);
        date.setMinutes(0);
        date.setSeconds(0);
        date.setMilliseconds(0);
        $("#basicDate").flatpickr({
          defaultDate: date,
          enableTime: true,
          time_24hr: true,
          dateFormat: "d F Y H:i",
        });
      });
      // read the url and get the id as argument
      var url = new URL(window.location.href);
      var id = url.searchParams.get("id");
      var markdown = "";
      if (id != null) {
        // if id is not null, then we have a route id
        // we can build the url
        var surl = "https://www.strava.com/routes/" + id;
        // we can set the url field
        $('#url').val(surl);
        // and we can click the button
        $("button[id='submitBtn']").click();
      }
      $("img[id='copyTextToClipboard']").click(function () {
        copyTextToClipboard(markdown);
      });
      $("button[id='submitBtn']").click(function () {
        ts = "";
        if ($('#basicDate').val() != "") {
          ts = new Date($('#basicDate').val()).getTime() / 1000;
        }
        surl = $('#url').val()
        if (surl == "" || !surl.startsWith("https://www.strava.com/routes")) {
          $('#popup').empty();
          $('#popup').append("<div class=\"alert alert-danger\" role=\"alert\">Please enter a valid Strava route URL, activities are not supported you need to convert them as routes</div>");
          $('#popup').show();
          return false;
        }
        sid = surl.split("/").pop()
        windsockurl = "https://mywindsock.com/route/" + sid;
        if (ts != "") {
          windsockurl = windsockurl + "/#forecast=" + ts;
        }
        veloviewer = "https://veloviewer.com/routes/" + sid;
        $('#uls').empty();
        $('#uls').append("<li class=\"list-group-item\"><a target=\"_blank\" href='" + windsockurl + "'>" + windsockurl + "</a></li>");
        $('#uls').append("<li class=\"list-group-item\"><a target=\"_blank\" href='" + veloviewer + "'>" + veloviewer + "</a></li>");
        $('#uls').append("<li class=\"list-group-item\"><a target=\"_blank\" href='" + surl + "'>" + surl + "</a></li>");
        $('#hiddendiv').show();
        $('#copyTextToClipboard').show();

        markdown = "* [Windsock at " + $('#basicDate').val() + "](" + windsockurl + ")";
        markdown += "\n";
        markdown += "* [VeloViewer](" + veloviewer + ")";
        markdown += "\n";
        markdown += "* [Strava](" + surl + ")";
        // copyTextToClipboard(markdown);
      });
    });
  </script>

</body>

</html>