<div class="form-floating mb-3">
    <select class="form-control" id="routeSelect" onchange="routeSelectChange()">
        <option value="">Select a route</option>
        {{range $element := .Routes }}
        <option value="{{ $element.ID }}">{{ $element.Name }} - {{ toKM $element.Distance }}Km</option>
        {{end}}
    </select>
</div>